<body>
    

<nav class="navBar  bg-primary">
    <div class="container navbar-wrap">

        <a class="navBar-logo" href="../pages/index.html">
        <img src="../assets/images/logo-new_工作區域 1.png" alt="logo"></a>
            <ul class="list">
                <li class="navbar-item"><a class="navbar-link" href="#">系列鏡框</a></li>
                <li class="navbar-item"><a class="navbar-link" href="../pages/location.html">門市據點</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#">部落格</a></li>
                <li class="navbar-item"><a class="navbar-link" href="../pages/faq.html">常見問題</a></li>
            </ul>
    </div>
</nav>
</body>